* {
  color: #2d3c49;
}

h4 {
  margin-top: 25px;
}

[class*="col-"] {
  text-align: center;
}

article {
  padding-top: 10px;
  padding-bottom: 30px;
}

hr {
  margin-top: 0;
  margin-bottom: 20px;
  border-top-width: 4px;
  border-top-color: #7d97ad;
}

img {
  width: 100%;
}

.article-img {
  box-shadow: 5px 5px 5px #999;
  border: solid 1px #999;
}

#logo-img {
  width: 120px;
}

@media all and (min-width: 768px) {
  #logo {
    text-align: left;
  }

  #title {
    text-align: right;
  }
}

a {
  color: #2d3c49;
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-all;
}

#subtitle {
  margin-top: 40px;
  color: #7d97ad;
  text-align: left;
}

#title {
  text-transform: uppercase;
  font-family: sans-serif;
}